<a href="https://github.com/devahea" class="tooltipped" target="_blank" data-tooltip="GitHub" data-position="top" data-delay="50">
    <i class="fa fa-github"></i>
</a>
<!--
<a href="mailto:이메일" class="tooltipped" target="_blank" data-tooltip="이메일" data-position="top" data-delay="50">
    <i class="fa fa-envelope-open"></i>
</a>
-->
<a href="https://www.facebook.com/AheaCommunity/" class="tooltipped" data-tooltip="Facebook" data-position="top" data-delay="50">
    <i class="fa fa-facebook"></i>
</a>
<% if (config.feed && config.feed.path == 'atom.xml') { %>
<a href="<%- url_for('/atom.xml') %>" class="tooltipped" target="_blank" data-tooltip="RSS" data-position="top" data-delay="50">
    <i class="fa fa-rss"></i>
</a>
<% } %>